// app global css in SCSS form
html{
	background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
	background-size: 400% 400%;
	animation: gradient 15s ease infinite;
	min-height: 100vh;
	-webkit-animation: gradient 15s ease infinite;
    padding-bottom: 10em;
}
.bg-transparent{
    background-color: $transparent;
}
@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}
.animation-page{
    width: 80vw;
    height: 80vh;
    animation: slide-bottom 1.8s linear;
    -webkit-animation: slide-bottom 1.8s linear;
    position: absolute;
    top: 20%;
    left: 10%;
}
@keyframes slide-bottom {
    from{
        top: 100%; 
        opacity: 0;
    }
    to{
        top: 20%;
        opacity: 1;
    }
}